Bank Demo.2010.suo
Bank Demo.5.1.ReSharper.user
Bank Demo.6.1.ReSharper.user
Bank Demo.sln.DotSettings.user
Bank Demo.suo
Bank Demo.v11.suo
BankLibrary.5.1.ReSharper.user
BankLibrary/StyleCop.Cache
BankLibrary/bin/
BankLibrary/obj/
BankLibraryBDD/StyleCop.Cache
BankLibraryBDD/bin/
BankLibraryBDD/obj/
BankLibraryFit/StyleCop.Cache
BankLibraryFit/bin/
BankLibraryFit/obj/
BankLibraryTests/StyleCop.Cache
BankLibraryTests/bin/
BankLibraryTests/obj/
TestProject/
TestResults/
_ReSharper.Bank Demo/
_ReSharper.BankLibrary/
packages/
